<html>
    <head>
        <title>Henkilötietojärjestelmä</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    </head>
    <style>
        body {
            padding-top: 25px;
            padding-left: 50px;
        }
    </style>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery-2.1.3.min.js"></script>