    <% include header %>
    <body>
        <h1>Henkilötietojärjestelmä</h1>
        <a class="btn btn-success" href="/people">Listaa kaikki henkilöt</a>
        
        <a class="btn btn-warning" onclick="personDeleteAll()">Poista kaikki henkilöt</a> 
        
        <h3>Henkilön lisääminen</h3>
        <!-- form for adding a person -->
        <form id="addForm">
            <label for="etunimi">Etunimi:</label>
            <input id="firstName" name="etunimi"> <br>

            <label for="sukunimi">Sukunimi:</label>
            <input id="lastName" name="sukunimi"> <br>

            <label for="">Sähköposti:</label>
            <input id="email" name="sahkoposti"> <br>

            <label for="henkilotunnus">Henkilötunnus:</label>
            <input id="identityNumber" name="henkilotunnus"> <br>

            <label for="syntymaaika">Syntymäaika:</label>
            <input id="birthDate" name="syntymaaika"> (muodossa pp.kk.vvvv)<br>

            <input onclick="personAdd()" class="btn btn-success" value="Lisää henkilö">
        </form>            
    </body>
    
<!-- close html from header -->
</html>